.register-option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.register-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.register-product-container:hover {
  color: #ddc317;
  transition: 0.5s;
}

.register-product-container svg {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.register-procut-option {
  font-size: 1.5rem;
  font-weight: normal;
}
