.main-nav {
  display: flex;
  min-height: 70px;
  padding-left: 5px;
}

.nav-logo-icon {
  background-color: #726aa0;
  padding: 8px;
  border-radius: 10px;
}

.nav-logo-icon img {
  width: 200px;
  height: 32px;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 380px;
  justify-content: space-between;
}

.main-menu a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}

.main-menu a.active {
  font-weight: bold;
  color: #fff;
}

.main-menu a:hover {
  color: #fff;
}

.nav-login-logout {
  display: none;
}

.nav-username {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    padding-left: 20px;
  }

  .nav-login-logout {
    display: unset;
    color: #fff;
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .nav-login-logout {
    margin-right: 40px;
  }

  .nav-username {
    display: unset;
    margin-right: 20px;
  }
}
