.category-badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #eee69c;
  background-color: #fdf9d7;
  margin-right: 8px;
  margin-bottom: 8px;
}

.category-badge-container p {
  margin-bottom: 0px !important;
  color: #424242;
  font-weight: bold;
  font-size: 14px;
}
